<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.BiteBliss.BiteBliss_Backend.mapper.FavoriteMapper">

  <!-- getAllFavorite -->
  <select id="getAllFavorite" resultType="com.BiteBliss.BiteBliss_Backend.POJO.Favorite">
    select * from favorite_stall
  </select>

  <!-- getFavoriteByUid --> 
  <select id="getFavoriteByUid" resultType="com.BiteBliss.BiteBliss_Backend.POJO.Favorite">
    select * from favorite_stall where user_id = #{uid}
  </select>

  <!-- insertFavorite --> 
  <insert id="insertFavorite">
    insert into favorite_stall values(null, #{userId}, #{favoriteStall}, #{updateTime}, #{isDelete})
  </insert>
</mapper>